RewriteEngine on

#Redirecciona al index
RewriteRule ^$ /chayil/views/index.php [L]

#buscar el archivo ingresado en la url
RewriteCond %{REQUEST_FILENAME} !-f

#Urls amigables
RewriteRule ^([a-zA-Z0-9/]+)$ /chayil/views/$1.php [NC,L]


#Error
ErrorDocument 404 /chayil/error/404.php
ErrorDocument 500 /chayil/error/500.php
ErrorDocument 403 /chayil/error/403.php
ErrorDocument 300 /chayil/error/300.php
