RewriteEngine on

#Redirecciona al index
RewriteRule ^$ /chayil.github.io/views/index.php [L]

#buscar el archivo ingresado en la url
RewriteCond %{REQUEST_FILENAME} !-f

#Urls amigables
RewriteRule ^([a-zA-Z0-9/]+)$ /chayil.github.io/views/$1.php [NC,L]


#Error
ErrorDocument 404 /chayil.github.io/error/404.php
ErrorDocument 500 /chayil.github.io/error/500.php
ErrorDocument 403 /chayil.github.io/error/403.php
ErrorDocument 300 /chayil.github.io.github.io/error/300.php
