.btn-default {

  background-color: $naranja;
  border: 1px solid $naranja;
  border-top-color: $naranja;
  border-right-color: $naranja;
  border-bottom-color: $naranja;
  border-left-color: $naranja;
  color: $blanco;
}
