@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

$titles: 'Concert One', cursive;
$font-family: 'Lato', sans-serif;

$negro: #000000;
$negro-claro: #1A1A2E;
$purpura: #16213E;
$purpura-claro: #0F3460;
$cafe: #2C232A;

$gris: #F0F0F0;
$blanco: #FFFF;
$naranja: #EB5F0A;

$border: 15px !important;



$color-botton: black;
$text-bottom: white;
